# Operating System Files

*.DS_Store
Thumbs.db

gradlew
gradlew.bat
settings.gradle

# Build Files #
bin
target
build/
.gradle
gradle

# Eclipse Project Files #

.classpath
.project
.settings
.springBeans

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Spring Bootstrap artifacts

dependency-reduced-pom.xml
out
README.html


